{% extends 'base.html' %}

{% block title %} Create Workout | FitList {% endblock %}

{% block content %}
<script type="text/jsx">
class CreateWorkoutForm extends React.Component {
    constructor(props) {
        super(props);
        this.state = {
            title: '',
            content: '',
            frequency: 0,
            tags: '',
            tag_array: [],
            errors: []
        };
        this.handle_change = this.handle_change.bind(this);
        this.handle_submit = this.handle_submit.bind(this);
        this.handle_result = this.handle_result.bind(this);
    }

    handle_result(response) {
        if(response['data']['success'] == 1) {
            window.location.href = response['data']['redirect'];
        } else {
            this.setState({errors: response['data']['errors']});
        }
    }


    handle_change(event) {
        const target = event.target;
        const value = target.value;
        const name = target.name;
/*
        if(name == "title") {
            value = value.trim();
        }
*/
        this.setState({
            [name]: value
        });
       

        if(name =="tags") {
            this.state.tag_array = value.trim().split(',');
            this.state.tag_array = this.state.tag_array.filter(e => e);
        }

    }

    handle_submit(event) {
        event.preventDefault();
        var self = this; 
        axios.post('workout_created', {
            title: this.state.title,
            content: this.state.content,
            frequency: this.state.frequency,
            tags: this.state.tag_array
        })
        .then(function (response) {
            self.handle_result(response);
        })
        .catch(function (error) {
            console.log(error);
        });
    }

    render() {
        return (
            <div>
            <form onSubmit={this.handle_submit}>
                    Title 
                    <input type="text" name="title" value={this.state.title} onChange={this.handle_change}/>
                    Content 
                    <textarea type="text" name="content" value={this.state.content} onChange={this.handle_change}/>
                    Frequency
                    <select name="frequency" value={this.state.frequency} onChange={this.handle_change}>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                    </select>
                    Tags
                    <textarea type="text" name="tags" value={this.state.tags} onChange={this.handle_change}/>
                <input type="submit" value="Create"/>
                {this.state.errors}
            </form>
            </div>
        )
    }
}

ReactDOM.render(
    <CreateWorkoutForm/>,
    document.getElementById('content')
);
</script>
{% endblock %}
