{% extends 'base.html' %}

{% block title %} Signup | FitList {% endblock %}

{% block content %}
<script type="text/jsx">
class SignupForm extends React.Component {
    constructor(props) {
        super(props);
        this.state = {
            username: '',
            email: '',
            pass_plain: '',
            pass_conf: '',
            errors: []
        };
        this.handle_change = this.handle_change.bind(this);
        this.handle_submit = this.handle_submit.bind(this);
        this.handle_result = this.handle_result.bind(this); 
        this.pass_match = false;
        this.pass_req = false;
        this.can_submit = false;
    }

    handle_result(response) {
        if(response['data']['success'] == 1) {
            window.location.href = response['data']['redirect'];
        } else {
            this.setState({errors: response['data']['errors']});
        }
    }

    handle_change(event) {
        const target = event.target;
        const value = target.value;
        const name = target.name;


        if(value.indexOf(' ') > -1) {
            return;
        }

        this.setState({
            [name]: value
        });

        
        if(this.state.pass_plain && this.state.pass_conf && this.state.email && this.state.username) {
            this.can_submit = true;
        } else {
            this.can_submit = false;
        }
    }

    handle_submit(event) {
        event.preventDefault();
        var self = this; //this is a bad cheat
        axios.post('user_created', {
            username: this.state.username,
            email: this.state.email,
            pass_plain: this.state.pass_plain,
            pass_conf: this.state.pass_conf
        }) 
        .then(function (response) {
            self.handle_result(response);
        })
        .catch(function (error) {
            console.log(error);
        });
    }

    render() {
        return (
            <div className='container card'>
            <form autocomplete="off" onSubmit={this.handle_submit}>
                    Username 
                    <input type="text" name="username" value={this.state.username} onChange={this.handle_change}/>
                    Email Address
                    <input type="text" name="email" value={this.state.email} onChange={this.handle_change}/>
                    Password
                    <input type="password" name="pass_plain" value={this.state.pass_plain} onChange={this.handle_change}/>
                    Confirm Password
                    <input type="password" name="pass_conf" value={this.state.pass_conf} onChange={this.handle_change}/>
                     {this.state.errors}
                    {this.pass_match && <p>Passwords do not match</p>}
                <input type="submit" id="submit" disabled={!this.can_submit} value="Sign Up"/>
            </form>
            </div>
        )
    }
}
ReactDOM.render(<SignupForm />, document.getElementById('content'));
</script>
{% endblock %}
